@import "tailwindcss";

/*inter*/
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-v20-latin-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-v20-latin-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-v20-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-v20-latin-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-v20-latin-300italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-v20-latin-700italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

/*space mono*/
@font-face {
  font-family: "Space Mono";
  src: url("/fonts/space-mono-v17-latin-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Space Mono";
  src: url("/fonts/space-mono-v17-latin-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

/*themes*/
@theme {
  --color-accent: oklch(0.7 0.1 192);
  --color-background: oklch(96.7% 0.001 286.375);
  --color-text: oklch(21% 0.006 285.885);
  --font-mono: "Space Mono", monospace;
}

/*
[data-theme="example"] {
  --color-accent: ;
  --color-background: ;
  --color-text: ;
}
*/

[data-theme="light"] {
  --color-accent: oklch(0.7 0.1 192);
  --color-background: oklch(96.7% 0.001 286.375);
  --color-text: oklch(21% 0.006 285.885);
}

[data-theme="dark"] {
  --color-accent: oklch(0.7 0.1 192);
  --color-background: oklch(21% 0.006 285.885);
  --color-text: oklch(96.7% 0.001 286.375);
}

[data-theme="amoled"] {
  --color-accent: oklch(0.7 0.1 192);
  --color-background: oklch(0 0 0);
  --color-text: oklch(0.95 0 0);
}

[data-theme="nord"] {
  --color-accent: oklch(0.76 0.0477 194.49);
  --color-background: oklch(0.3244 0.0229 264.18);
  --color-text: oklch(0.9513 0.0074 260.73);
}

[data-theme="catppuccin"] {
  --color-accent: oklch(0.77 0.1259 303.9);
  --color-background: oklch(0.2788 0.0353 276.94);
  --color-text: oklch(0.8708 0.0481 273.67);
}

[data-theme="catppuccin-light"] {
  --color-accent: #7287fd;
  --color-background: #eff1f5;
  --color-text: #4c4f69;
}

[data-theme="one-dark"] {
  --color-accent: oklch(0.65 0.1826 262.74);
  --color-background: oklch(0.2804 0.0158 264.28);
  --color-text: oklch(0.8452 0 0);
}

[data-theme="gruvbox"] {
  --color-accent: oklch(0.83 0.1595 82.99);
  --color-background: oklch(0.2768 0 0);
  --color-text: oklch(0.8941 0.0566 89.24);
}

[data-theme="terminal"] {
  --color-accent: oklch(0.73 0.2861 145);
  --color-background: oklch(0.1 0 0);
  --color-text: oklch(0.73 0.2861 145);
}

[data-theme="ayu-light"] {
  --color-accent: #f2ae49;
  --color-background: #fafafa;
  --color-text: #6c7680;
}

[data-theme="ayu-mirage"] {
  --color-accent: #ffb454;
  --color-background: #191e2a;
  --color-text: #cccac2;
}

[data-theme="ayu-dark"] {
  --color-accent: #ffb454;
  --color-background: #0f1419;
  --color-text: #b3b1ad;
}

[data-theme="steam"] {
  --color-accent: #1a9fff;
  --color-background: #171a21;
  --color-text: #c7d5e0;
}

[data-theme="steam-old"] {
  --color-accent: #b8a53d;
  --color-background: #3f4738;
  --color-text: #eff6ee;
}